<div class="container-fluid p-3">
  <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>

  <h1 class="titulo">Detalhes do cliente</h1>
  <h2 class="subtitulo">Tenha uma visão mais detalhada do cliente</h2>

  <div class="row mt-3">
    <div class="col-6">
      <h4 class="titulo-informacao">Nome</h4>
      <p class="informacao">{{userData.nome}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao">CPF</h4>
      <p class="informacao">{{userData.cpf}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao">E-mail</h4>
      <p class="informacao">{{userData.email}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao">Modelo do veículo</h4>
      <p class="informacao">{{userData.carroModelo}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao">Ano de fabricação</h4>
      <p class="informacao">{{userData.ano}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao" type="date">Data do Serviço</h4>
      <p class="informacao">{{userData.data}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao">Serviço realizado</h4>
      <p class="informacao">{{userData.servico}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao">Valor do Serviço</h4>
      <p class="informacao">{{userData.valor}}</p>
    </div>
  </div>

  <div class="row mt-3">
    <h1 class="titulo">Histórico de Atendimentos</h1><br>
    <ul>
      <li *ngFor="let userData of servicos">
        <div class="col-3">
          <h4 class="titulo-informacao">Data</h4>
          <p class="informacao">{{userData.data}}</p>
        </div>
        <div class="col-3">
          <h4 class="titulo-informacao">Serviço</h4>
          <p class="informacao">{{userData.servico}}</p>
        </div>
        <div class="col-3">
          <h4 class="titulo-informacao">Valor do Serviço</h4>
          <p class="informacao">{{userData.valor}}</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="row mt-3">
  <h1 class="titulo">Adicionar Novo Serviço</h1>
  <form (ngSubmit)="salvarNovoServico()">

    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Serviço</mat-label>
        <input type="text" matInput formControlName="servico" placeholder="Digite o serviço">
        <input id="servico" class="form-control" [(ngModel)]="novoServico.servico" name="servico" required />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label for="data">Data:</mat-label>
        <input type="text" matInput formControlName="data" placeholder="Digite a data">
        <input id="data" class="form-control" [(ngModel)]="novoServico.data" name="data" type="date" required />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Valor</mat-label>
        <input type="text" matInput formControlName="valor" placeholder="Digite o valor">
        <input id="valor" class="form-control" [(ngModel)]="novoServico.valor" name="valor" type="number" required />
      </mat-form-field>
    </div>

    <button type="submit" class="botao-primario float-end">Salvar Serviço</button>
  </form>
  </div>
</div>



