<div class="container-fluid p-3">
  <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>

  <h1 class="titulo">Detalhes do cliente</h1>
  <h2 class="subtitulo">Tenha uma visão mais detalhada do cliente</h2>

  <div class="row mt-3">
    <div class="col-6">
      <h4 class="titulo-informacao">Nome</h4>
      <p class="informacao">{{userData.nome}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao">CPF</h4>
      <p class="informacao">{{userData.cpf}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao">E-mail</h4>
      <p class="informacao">{{userData.email}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao">Modelo do veículo</h4>
      <p class="informacao">{{userData.carroModelo}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao">Ano de fabricação</h4>
      <p class="informacao">{{userData.ano}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao" type="date">Data do Serviço</h4>
      <p class="informacao">{{userData.data}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao">Serviço realizado</h4>
      <p class="informacao">{{userData.servico}}</p>
    </div>
    <div class="col-6">
      <h4 class="titulo-informacao">Valor do Serviço</h4>
      <p class="informacao">{{userData.valor}}</p>
    </div>
  </div>

  <div class="row mt-3">
    <h1 class="titulo">Histórico de Atendimentos</h1><br>
    <ul>
      <li *ngFor="let userData of servicos">
        <div class="col-3">
          <h4 class="titulo-informacao">Data</h4>
          <p class="informacao">{{userData.data}}</p>
        </div>
        <div class="col-3">
          <h4 class="titulo-informacao">Serviço</h4>
          <p class="informacao">{{userData.servico}}</p>
        </div>
        <div class="col-3">
          <h4 class="titulo-informacao">Valor do Serviço</h4>
          <p class="informacao">{{userData.valor}}</p>
        </div>
      </li>
    </ul>
  </div>

  <h1>Adicionar Novo Serviço</h1>
  <form (ngSubmit)="salvarNovoServico()">
    <div class="mb-3">
      <label for="servico">Serviço:</label>
      <input id="servico" class="form-control" [(ngModel)]="novoServico.servico" name="servico" required />
    </div>
    <div class="mb-3">
      <label for="data">Data:</label>
      <input id="data" class="form-control" [(ngModel)]="novoServico.data" name="data" type="date" required />
    </div>
    <div class="mb-3">
      <label for="valor">Valor:</label>
      <input id="valor" class="form-control" [(ngModel)]="novoServico.valor" name="valor" type="number" required />
    </div>
    <button type="submit" class="btn btn-primary">Salvar Serviço</button>
  </form>
</div>



