<div class="container-fluid p-3">
  <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>

  <h1 class="titulo" *ngIf="editUser">Editando Insumos</h1>
  <h1 class="titulo" *ngIf="!editUser">Cadastro de insumos</h1>
  <h2 class="subtitulo" >Preencha o formulário para salvar o insumo</h2>

  <form class="row" [formGroup]="formInsumo">
    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="nome" placeholder="Digite o nome">
        @if (formInsumo.controls['nome'].invalid) {
        <mat-error>Por favor digite um nome válido </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Quantidade</mat-label>
        <input type="text" matInput formControlName="quantidade" placeholder="Digite a quantidade">
        @if (formInsumo.controls['quantidade'].invalid) {
        <mat-error>Por favor digite uma quantidade válido </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width">
        <mat-label>Data de Validade</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Digite a data de validade" formControlName="dataValidade">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formInsumo.controls['dataValidade']">Por favor, digite uma data válida</mat-error>
      </mat-form-field>
    </div>


    <div class="col-12">
      <button class="botao-primario float-end" [disabled]="!formInsumo.valid" (click)="saveInsumo()">salvar </button>
    </div>
  </form>
</div>
