 <nav class="sidemenu">
   <ul>
     <li>
       <img src="./../../assets/10316672-removebg-preview.png" width="40px">
       <span class="logo">LUBCAR</span>
     </li>
        <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
        <li routerLink="/usuarios"><mat-icon>person_add</mat-icon>Cadastrar Funcionários</li>
        <li routerLink="/crud-cliente"><mat-icon>directions_car</mat-icon>Cadastrar Clientes</li>
        <li routerLink="/estoque"><mat-icon>inventory</mat-icon>Cadastro de Insumos </li>
        <li  routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair </li>
   </ul>
 </nav>
